<form id="data-form" method="POST">
    <label for="table">table:</label>
    <input type="text" id="table" name="table" required><br>

    <label for="columns">columns:</label>
    <input type="text" id="columns" name="columns" ><br>

    <label for="where">where:</label>
    <input type="text" id="where" name="where" ><br>

    <label for="join">join:</label>
    <input type="text" id="join" name="join" ><br>

    <input type="submit" value="Submit">
</form>
<script src="static/script/select_form.js"></script>