{% extends "index.html" %}

{% block header %}
    <link rel="stylesheet" href="static/style/select_form.css">
{% endblock %}



{% block content %}

    {% block popup %}
        {% include 'popup.html' %}
    {% endblock %}
    <label for="tables">Select table(s):</label><br>
    <fieldset class="select_tables">
        {% for table, columns in data.items() %}
            <div>
                <input onclick="choiceTable({{ table }})" type="checkbox" id="{{ table }}" name="{{ table }}[]"
                       value="{{ table }}">
                <label for="{{ table }}">{{ table }}</label><br>
            </div>
        {% endfor %}
    </fieldset>



    <form id="data-form" method="POST">
        <label for="columns">Select column(s):</label><br>
        {% for table, columns in data.items() %}
            <div id="{{ table }}_show" style="display: none">
                <fieldset>
                    <legend>{{ table }}</legend>
                    {% for column in columns %}
                        <input type="checkbox" id="{{ table }}-{{ column }}" name="tables-{{ table }}[]"
                               value="{{ column }}">
                        <label for="{{ table }}-{{ column }}">{{ column }}</label><br>
                    {% endfor %}
                </fieldset>
            </div>
        {% endfor %}

        <label for="where">where:</label>
        <input type="text" id="where" name="where"><br>

        <input type="submit" value="Submit">
    </form>

{% endblock %}

{% block footer %}
<script src="static/script/select_form.js"></script>
{% endblock %}
